.success-message{
	color: green;
}

.failure-message{
	color: red;
}

.btn:not(.btn-danger) {
	float:right;
}

.btn {
	width: 200px;
}

#back-btn{
	float:left;
	margin-right:100%;
}

.centerPag {
	width: 800px;
	text-align: center ;
	margin-left: auto ;
	margin-right: auto ;
}

.usertable-tools{	
	margin: 20px 0px 80px 0px;
}

.grouptable-tools{	
	margin: 20px 0px 20px 0px;
}

.reportstable-tools{
	margin: 20px 0px 70px 0px;
}

#reportsfilter{
	float:left;
}

.form-control{	
	max-width: 400px;
}

.filter{
		float:left;
}

table{
	margin:0px 0px 40px 0px;
}

.login-screen{
	height: 100%;
	padding: 120px 0px;
}
#loginheader{
	text-align:center;
	color: #ecf0f1;
}
#logincredentials{
	margin: 0 auto;
	width: 90%;
	max-width: 500px;
	min-width: 250px;
	height: 230px;
}
body{
	padding:15px;
}

.cursor-pointer {
	cursor: pointer;
}
